Options All -Indexes
DirectoryIndex index.php

#Turn Rewrite Engine On
RewriteEngine on

#.com/user/brolaugh = .com/user.php?u=brolaugh 
RewriteRule ^user/([0-9a-zA-Z_-]+) user.php?u=$1 [NC,L]


#.com/project/superdeathrocker = .com/project.php?p=superdeathrocker
RewriteRule ^project/([0-9a-zA-Z_-]+) project.php?p=$1 [NC,L]

RewriteRule ^register register.php [NC,L]
RewriteRule ^login login.php [NC,L]
RewriteRule ^home home.php [NC,L]
RewriteRule ^forgot_password forgot_password.php [NC,L]
RewriteRule ^forgot-password forgot_password.php [NC,L]