#splash{
    text-align: center;
    display: inline-block;
    margin: auto 0;
}

.form-choice{
  float: left;
  display: inline-block;
}
form{
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}
#register-form{
  display: none;
}
.forgott-password{
  display: block;
}
